firmware/.pio
.idea
.vscode
*.bin
.DS_Store

# web
website/node_modules
website/build
website/.next

# lsp
.cache
compile_commands.json
# Added by code-review-graph
.code-review-graph/
.claude/settings.local.json
